*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 2px 2px rgb(181, 181, 181);
  border-radius: 10px ;
  width: 300px;
}

li {
    list-style-type: none;
    padding: 15px;
    height: 50px;
    margin: 0px 20px 0px 0px;
    border: 1px solid grey;
    border-left: 10px solid rgb(136, 199, 192);
    margin: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size: 18px
}

ul {
    padding: 0
}


input[type='checkbox'] {
    height: 20px;
    align-self: center;
}

.delete {
    height: 30px;
    width: 30px;
    align-self: center;
    background-image: url("https://raw.githubusercontent.com/KiwiCandy-ai/to-do-list/fd791647e2499051bee3a2d9dc56ef5636cdbb6c/bin-svgrepo-com.svg");
background-size: contain;
border: 1px solid grey;
border-radius: 5px;
}

button > img {
    width: 20px;
    height: 20px;
}


h1 {
    font-size: 30px;
    font-weight: 500;
}